name: React Doctor

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  react-doctor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run React Doctor
        uses: millionco/react-doctor@main
